body, header, nav, main, footer, h1, h2, p, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, p, a, ul, ol, dl {
    font-family: Arial, Helvetica, sans-serif;
}

.tablet-desktop{
    display: none;
}

footer {
    width: 100%;
    background-color: lightblue;
    color: black;
    text-align: center;
    font-size: medium;
    clear: both;
}

footer a {
    color: orangered;
}

/* Style for mobile */
@media screen and (max-width: 449px) {

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

.desktop {
    display: none;
}

#bookbutton {
    display: block;
    width: auto;
    margin: 15px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    background-color: lightblue;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

p, ul, dl {
    line-height: 30px;
    font-weight: bold;
}

dt {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

#container {
    background-color: lightblue;
}

#homeinfo section {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

#homeinfo .sectext {
    padding: 10px;
}

#homeinfo img {
    border-radius: 0 0 10px 10px;
    margin-top: auto;
}

#freeday {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#freeday ul a {
    color: orangered;
}


}


/*style for tablet*/
@media screen and (min-width: 450px) {

.mobile {
    display: none;
}

.tablet-desktop{
    display: block;
}

/* Style for PC */
@media screen and (min-width: 1200px) {
.desktop {
    display: block;
}

#bookbutton {
    display: inline-block;
    width: auto;
    margin: 15px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
}

h1 {
    font-size: 2.5em;
    background-color: lightblue;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

h2, h3 {
    font-size: 2.0em;
    background-color: lightblue;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

p {
    font-size: 1.5em;
    line-height: 40px;
}

ul {
    line-height: 40px;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    height: 200px;
    float: left;
    width: 20%;
    display: flex;
    border-bottom: 1px solid black;
}

header img {
    margin: 0;
    max-width: 100%;
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    height: 200px;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    float: right;
    top: 0;
    background-color: #fff;
    width: 80%;
}

nav ul{
    width: 80%;
    list-style-type: none;
    align-content: center;
    padding-left: 50px;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    color: black;
    font-weight: bolder;
}

nav li a {
    background-color: lightblue;
    border-radius: 5px;
    color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}

nav p {
    align-content: center;
    float: right;
    width: 20%;
}

#hero img {
    width: 100%;
}

#container {
    background-color: lightblue;
}

#homeinfo section{
    border-radius: 10px;
    display: flex;
    margin: 30px;
    background-color: white;
}

#homeinfo .sectext{
    padding: 20px;
    align-self: center;
}

#homeinfo ul  {
    font-size: 1.5em;
    padding-left: 20px;
    padding-top: 20px;
}

#homeinfo img{
    max-width: 40%;
    border-radius: 0 10px 10px 0;
    margin-left: auto;
}

#freeday {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#freeday section {
    border-bottom: 1px dashed black;
}

#freeday ul{
    padding-left: 30px;
    font-size: 1.5em;
}

#freeday li {
    margin-bottom: 10px;
}

#freeday section ul li a{
    color: orangered;
}

#freeday dt {
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 10px;
}

#freeday dd {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#teaminfo h1 {
    display: block;
    text-align: center;
}

#teaminfo h1 a {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

#staff section{
    border-radius: 10px;
    display: flex;
    margin: 30px;
    background-color: white;
}

#staff .sectext{
    padding: 20px;
    align-self: center;
    margin-right: auto;
}

#staff img{
    max-width: 40%;
    border-radius: 10px 0 0 10px;
    margin-right: auto;
}

#whyinfo section {
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    padding: 20px;
}

#whyinfo dl {
    font-size: 1.5em;
    line-height: 40px;
}

#whyinfo dt {
    text-decoration: underline;
}

#whyinfo li a{
    font-size: 1.5em;
    text-decoration: underline;
    color: orangered;
}

#whyinfo ul {
    padding-left: 20px;
}

#serviceintro, #newservices {
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    background-color: white;
}

#services {
    border-radius: 10px;
    display: block;
    margin: 10px;
    background-color: white;
    padding: 20px;
}

#serviceintro img {
    float: left;
    max-width: 40%;
    border-radius: 10px 0 0 10px;
}

#serviceintro .sectext {
    padding: 20px;
    align-content: center;
    float: right;
    width: 55%;
}    

#services dl {
    font-size: 1.5em;
    line-height: 40px;
}

#services dt {
    text-decoration: underline;
}

#newservices section{
    display: inline-block;
}

#newservices section section {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

#newservices .sectext {
    padding: 20px;
    align-self: center;
    float: left;
    width: 55%;
}

#newservices img {
    margin-left: auto;
    max-width: 40%;
    border-radius: 0 10px 10px 0;
}

.form-grid {
    float: left;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.form-grid fieldset {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.form-grid label, .form-grid option, .form-grid select,
.form-grid input {
    font-size: 1.5em;
}

.form-grid legend {
    font-size: 2.0em;
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
}

.form-grid section {
    clear: both;
    margin: 20px;
}

.form-grid #submit {
    margin-left: 40px;
    font-size: 1.5em;
    background-color: orange;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
}

.pair {
    display: flex;
    align-items: center;
}

.pair label {
    width: 11ch;
}

textarea {
    display: block;
    clear: both;
    width: 100%;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

#bookingside {
    float: right;
    width: 25%;
}

#bookingside a {
    color: orangered;
}

#bookingside section {
    border-radius: 10px;
    display: block;
    margin: 10px;
    background-color: white;
    padding: 20px;
}

#submitted {
    text-align: center;
}

}