/*
Author: Jack Kelly
Date: 19/2/26
File Name: styles.css
*/

body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

.francois-one-regular {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-slab-1 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.round {
    border-radius: 8px;
}

body {
background-color: #000;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000;
    height: 190px;
}

header img {
    margin: 0 auto;
}

nav {
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;
    padding: 1%;
    margin-bottom: 1%;
}

main {
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
    clear: left;
    font-family: 'Roboto Slab', serif;
}

.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.hours {
    margin-left: 10%;
}

#weights, #cardio, #training {
    margin: 0 2%;
}

/* #exercises {
    clear: left;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f2f2f2;
    padding: 1% 2%;
} */

/* #exercises dt {
    font-weight: bold;
} */

/* #exercises dd {
    padding: 0.5% 1% 2% 0;
} */

#contact {
    align-content: center;
    text-align: center;
}

#contact a {
    color: #666600;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    border-top: 1px solid #fff;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}