body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    height: 200px;
    float: left;
    width: 20%;
    display: flex;
}

header img {
    margin: 0;
    max-width: 100%;
    height: 200px;
}

nav {
    height: 200px;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    float: right;
    top: 0;
    background-color: #fff;
    width: 80%;
}

nav ul{
    width: 80%;
    list-style-type: none;
    align-content: center;
}

nav li {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

nav li a {
    background-color: steelblue;
    font-size: large;
    color: #000;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav p {
    font-size: large;
    align-content: center;
    float: right;
    width: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hero img {
    width: 100%;
}

#intro {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 1%;
    display: block;
    width: 48%;
    float: left;
}

#intro h1 {
    display: block;
    background-color: steelblue;
    text-align: center;
    font-size: xx-large;
}

#intro p{
    text-align: left;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#announcements {
    margin-right: 1%;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 48%;
    float: right;
}

#announcements h1 {
    background-color: steelblue;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#announcements ul, p {
    margin-left: 5%;
    margin-right: 2%;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#teaminfo h1 {
    margin-left: 10%;
    width: 90%;
    font-size: xx-large;
}

#teaminfo dd {
    margin-bottom: 20px;
    margin-left: 5%;
    background-color: steelblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    width: 90%;
    border-top: 1px solid black;
    clear: both;
}

#teaminfo img {
    margin-left: 5%;
    margin-right: 2%;
    max-width: 28%;
    height: auto;
    float: left;
    margin-bottom: 40px;
}

#teaminfo dt {
    width: 60%;
    margin-right: 5%;
    height: auto;
    float: right;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    width: 100%;
    display: block;
    background-color: steelblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clear: both;
}