/*
Author: Jack Kelly
Date: 19/2/26
File Name: styles.css
*/

body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Default setup for phone*/
body {
background-color: #5C6B9C;
}

header {
    width: 25%;
    float: left;
    margin: 0 0 1em 0;
}

nav {
    width: 70%;
    float: left;
    margin: 5em 3em 0 0;
}

main {
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
    clear: left;
}

dl {
    color: #000080;
    font-weight: bold;
}

p, h1, h2, dl dd, ul, li{
    color: #000080;
    font-weight: lighter;
    font-family: monospace;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: left;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #FFFF00;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}

#historyimage1 {
    width: 25%;
    float: right;
}

#history ul li ul li {
    margin: 0 0 0 1em;
}

#team img {
    width: 40%;
    height: 40%;
    float: left;
    margin: 1em;
}

img {
    max-width: 100%;
    display: block;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

#contact tel-link {
    display: block;
    align-self: center;
    background-color: #404040;
    padding: 2%;
    margin: 1%;
    text-align: center;
    width: 30%;
    border-radius: 5px;
}

#contact tel-link a {
    color: #FFFF00;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px) { /*insert a media query*/

    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }
    .mobile {
        display: none;
    }    

    /* Tablet Viewport: Style rule for header */
    header {
        position: static;
        padding-bottom: 2%;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }
    nav li:last-child {
        border-right: none;
    }
    nav li a {
        padding: 0.1em 0.75em;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px) {

    /* Desktop Viewport: Style rule for header */
    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul {
        text-align: right;
    }
    nav li {
        border: none;
    }
    nav li a {
        padding: 0.5em 1em;
    }

    main {
        clear: left;
    }
    main h1 {
        font-size: 1.8em;
    }

    #weights, #cardio, #training
    {
        width: 29%;
        float: left;
        margin: 0 2%;
    }
    #exercises {
        clear: left;
    }
}

